:root {
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-600: #57534e;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--stone-900);
  color: var(--stone-300);
}

h1,
h2 {
  color: var(--stone-200);
  margin-bottom: 30px;
}

.list-container-wrapper {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 20px;
  border: 2px solid var(--stone-200);
  text-align: center;
  display: inline-block;
}

.favorite-food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}

.food-image-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("./assets/hwe-dup-bap.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
}

.food-text-div {
  margin-left: 850px;
  max-width: 250px;
  word-wrap: break-word;
}

table {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 30px;
}

th,
td {
  border: 1px solid var(--stone-600);
  padding: 15px;
}

tr:nth-child(even) {
  background-color: var(--stone-950);
}

td {
  text-align: center;
}
