body {
  font-family: "Quicksand", sans-serif;
  background-color: #1c1917;
  color: #d6d3d1;
}

h1,
h2 {
  color: #e7e5e4;
  margin-bottom: 30px;
}

.list-container-wrapper {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  border: 2px solid #e7e5e4;
  text-align: center;
  display: inline-block;
}

.favorite-food-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.food-image-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("/assets/hwe-dup-bap.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-right: 20px;
}

.food-text-div {
  margin-left: 800px;
  max-width: 200px;
  word-wrap: break-word;
}

table {
  width: 100%;
  padding: 0 100px;
}

th,
td {
  border: 1px solid #57534e;
}

tr:nth-child(even) {
  background-color: #0c0a09;
}

td {
  text-align: center;
}

img {
  float: left;
}
